#ubicacion{
    background-color: rgba(90, 168, 168, 0.198);
    font-family: 'spartan';
    
}
#mapa{
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 35px;
    box-shadow: 5px 5px 15px rgb(213, 137, 124);
}
#contacto{
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 300px;
    height: auto;
    box-sizing: border-box;
    margin-left: 50px;
    margin-top: 200px;
}
#redes{
    margin-top: 200px;
}

#iconos{
    width: 40px;
    height: 40px;
    align-items: center;
    margin-top: 20px;
    
}
