.container {
  margin-top: 100px;
  padding: 20px;
  min-height: 69.7vh;
  background: linear-gradient(to bottom, #ffffff 10%, #d48c7c);
}

.container ul {
  padding: 0;
  list-style: none;
}

.container a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
}

.container a:visited,
.container a:link {
  color: #5cabab;
}

.container a:hover {
  color: #2e355b;
}

.mapContainer {
  display: flex;
  justify-content: center;
}

.map {
  border-radius: 10px;
  box-shadow: 2px 3px 5px #00000075;
  border: none;
}

@media only screen and (min-width: 1024px) {
  .container {
    margin-top: 120px;
  }
}
