.container {
  margin-top: 100px;
}

@media only screen and (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 100%;
  }

  .h2Cont {
    font-size: 40px;
    text-shadow: 4px 7px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    color: #373867;
    background-color: #eeeeeede;
    padding: 25px;
    border-radius: 8px;
    margin: 5vh auto;
    font-weight: 600;
    box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.5);
  }

  .btnContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .cardsCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .cardContainer {
    width: 300px;
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 10px;
    margin: 20px;
    transition: 0.5s;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }

  .cardContainer:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
  }

  .only {
    background-color: #f3f3f3;
    color: #333333;
  }

  .classic {
    background-color: #1c2331;
  }

  .black {
    background-color: #252525;
  }

  .cardContainer hr {
    width: 90%;
    border: none;
    border-top: 1px solid #ffffff;
    margin: 10px auto;
  }

  .only hr {
    border-top: 1px solid #000;
  }

  .recoverTitle {
    margin: 5px 0;
  }

  .password:link,
  .password:visited {
    color: #2e355b;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
  }

  .passwordContainer {
    position: relative;
    width: 100%;
  }

  .editIcon {
    position: absolute;
    right: 12px;
    top: 39px;
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
}
