.main {
  background-color: rgb(245, 248, 248);
  margin-top: 100px;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 27px;
}

.photoContainer {
  position: relative;
  width: 100%;
  max-height: 700px;
  overflow: hidden;
}

.photoContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 700px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 1) 72% calc(60vw - 300px)
  );
}

.photo {
  width: 100%;
  height: auto;
}

.subContainer {
  display: block;
}

.descContainer {
  display: block;
  position: relative;
  text-align: center;
  animation: appear 1s ease-in;
}

.description {
  margin: 0 10px;
  padding: 40px;
  border-radius: 5px;
  color: #000;
  box-shadow: 3px 4px 7px #000;
  background-color: #fff;
}

.sectionOne {
  margin: 50px 10%;
  max-width: 1500px;
}

.titleSectionOne {
  font-size: 22px;
  font-weight: 600;
}

.paragraphSectionOne {
  max-width: 700px;
  font-size: 17px;
  font-weight: 400;
}

@media only screen and (min-width: 1024px) {
  .main {
    margin-top: 120px;
  }

  .subContainer {
    display: flex;
  }

  .title {
    font-size: 35px;
  }

  .descContainer {
    position: absolute;
    margin: 21vh 49vw;
    width: 50%;
    text-align: start;
  }

  .description {
    margin: 0;
    width: 70%;
  }

  .titleSectionOne {
    font-size: 30px;
  }

  .articleOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .articleOne p {
    margin: 0 60px 0 0;
  }

  .paragraphSectionOne {
    font-size: 20px;
  }

  .photoSectionOne {
    width: 500px;
    height: auto;
    border-radius: 5px;
    object-fit: contain;
  }

  .articleTwo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
  }

  .articleTwo p {
    margin: 0 0 0 60px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
