.main {
  background: linear-gradient(to bottom, #ffffff 10%, #d48c7c);
  margin-top: 120px;
  padding: 0 40px;
}

.container {
  display: flex;
  padding-top: 40px;
}

.subContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.subContainer2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  margin-left: 30px;
}

.profilePhoto {
  width: 500px;
  border-radius: 50px;
  box-shadow: 3px 4px 7px #000;
}

.description {
  padding: 40px;
  width: 70%;
  background-color: #fff;
  color: #000;
  box-shadow: 3px 4px 7px #000;
  border-radius: 15px;
}
