.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px #1b1b5d99;
  font-size: 15px;
  font-style: italic;
}

.input:focus {
  outline: none;
  border-color: #5cabab;
  box-shadow: 0 0 3px #5cabab89;
}

.error {
  height: 5px;
  margin-top: -5px;
  margin-bottom: 20px;
  color: #ea3354;
  font-size: 14px;
}

.errorBorder {
  border: 2px solid #ea3354;
}
