.btn-wsp{
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 58px;
    bottom: 30px;
    left: 30px;
    background: #12c74b;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.btn-wsp:hover{
    text-decoration: none;
    color: #12c74b;
    background: #fff;
    transition: 1s ease-in-out;
    animation: shake .4s;
    animation-iteration-count: calc(3);
}
.pulse{
    animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation{
    0%{
        box-shadow: 0 0 0 0px #25d3667a; 
    }100%{
        box-shadow: 0 0 0 25px rgba(50,40,30,0);
    }
}
@keyframes shake{
    0%{ transform: translateX(0) }
    25%{ transform: translateX(3px) }
    50%{ transform: translateX(-3px) }
    75%{ transform: translateX(3px) }
    100%{ transform: translateX(0) }
}

@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:60px;
        height:60px;
        line-height: 58px;
	}
}